// ===========================================
// BASE STYLES
// ===========================================

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'ff-ernestine-web-pro', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #fff;
}

body {
  background: #000 url('img/card-bg.jpg') no-repeat top left;
}
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2 strong {
  font-weight: 700;
  color: #FFC237;
}
h1 {
  .rotate(2.3deg);
  font-family: 'alternate-gothic-no-1-d', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 85px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-shadow: 0 4px 3px rgba(0,0,0,0.3);

  .ellipsis {
    letter-spacing: -5px;
  }
}
h2 {
  max-width: 564px;
  margin-left: -25px;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);

  strong {
    letter-spacing: 0;
  }
}

// MASTHEAD
.masthead {
  width: 100%;
  height: 264px;
  margin-top: 7px;
  background: url('img/speech-bubble.png') no-repeat top left;

  .target-image,
  .masthead-copy {
    position: absolute;
  }
  .target-image {
    left: 20px;
    width: 229px;
    height: 218px;

    .target-outline,
    .target-photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .target-outline {
      background: url('img/target-outline.png');
      z-index: 1;
    }
    .target-photo {
      z-index: 0;

      img {
        .rotate(-7deg);
        position: absolute;
        top: 15px;
        left: 20px;
      }
    }
  }
  .masthead-copy {
    top: 34px;
    right: 12px;
    text-align: center;
    z-index: 2;
  }
}