<!DOCTYPE html>

<html>
  <head>
    {{{styles}}}
    <!-- Font links/scripts here -->
  </head>

  <body>
    <section class="masthead">
      <div class="target-image">
        <div class="target-outline">&nbsp;</div>
        <div class="target-photo">
          {{#if variants}}
            <img src="{{target_image}}">
          {{else}}
            <img src="img/herbert.jpg">
          {{/if}}
        </div>
      </div>
      <div class="masthead-copy">
        Masthead copy
      </div>
    </section>

    <section class="signature">
      Signature
    </section>

    <section class="footer">
      Footer
    </section>
  </body>
</html>