<!DOCTYPE html>

<html>
  <head>
    {{{styles}}}
    <!-- Font links/scripts here -->
  </head>

  <body>
    <section class="masthead">
      Masthead
    </section>

    <section class="signature">
      Signature
    </section>

    <section class="footer">
      Footer
    </section>
  </body>
</html>