* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'ff-ernestine-web-pro', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #fff;
}
body {
  background: #000000 url('img/card-bg.jpg') no-repeat top left;
}
section,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1,
h2 strong {
  font-weight: 700;
  color: #FFC237;
}
h1 {
  -webkit-transform: rotate(2.3deg);
  -moz-transform: rotate(2.3deg);
  transform: rotate(2.3deg);
  font-family: 'alternate-gothic-no-1-d', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 86px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
}
h1 .ellipsis {
  letter-spacing: -5px;
}
h2 {
  max-width: 540px;
  margin-left: -25px;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
}
h2 strong {
  letter-spacing: 0;
}
.masthead {
  width: 100%;
  height: 264px;
  margin-top: 7px;
  background: url('img/speech-bubble.png') no-repeat top left;
}
.masthead .target-image,
.masthead .masthead-copy {
  position: absolute;
}
.masthead .target-image {
  left: 20px;
  width: 229px;
  height: 218px;
}
.masthead .target-image .target-outline,
.masthead .target-image .target-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.masthead .target-image .target-outline {
  background: url('img/target-outline.png');
  z-index: 1;
}
.masthead .target-image .target-photo {
  z-index: 0;
}
.masthead .target-image .target-photo img {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  transform: rotate(-7deg);
  position: absolute;
  top: 15px;
  left: 20px;
}
.masthead .masthead-copy {
  top: 34px;
  right: 28px;
  text-align: center;
  z-index: 2;
}
.signature {
  margin-top: -51px;
  text-align: center;
}
.signature .avatar,
.signature .signature-copy {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.signature .avatar {
  position: relative;
  width: 152px;
  height: 152px;
}
.signature .avatar .avatar-outline,
.signature .avatar .avatar-photo {
  position: absolute;
}
.signature .avatar .avatar-outline {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('img/avatar-outline.png');
  z-index: 1;
}
.signature .avatar .avatar-photo {
  top: 12px;
  left: 9px;
  z-index: 0;
}
.signature .avatar .avatar-photo .photo-wrapper {
  width: 132px;
  height: 127px;
  font-size: 0;
  overflow: hidden;
}
.signature .avatar .avatar-photo .photo-wrapper img {
  width: 132px;
}
.signature .signature-copy {
  padding-top: 6px;
  padding-left: 10px;
}
.signature .signature-copy .message {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
}
.signature .signature-copy strong {
  color: #FFC237;
  text-transform: uppercase;
}
.signature .signature-copy em {
  font-style: italic;
}
.signature .signature-copy .name {
  margin-top: 21px;
}
.signature .signature-copy .first-last,
.signature .signature-copy .hometown {
  display: block;
}
.signature .signature-copy .first-last {
  font-family: 'alternate-gothic-no-1-d', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 42px;
  color: #FFC237;
  text-transform: uppercase;
}
.signature .signature-copy .hometown {
  font-weight: 600;
}
.footer {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}
.footer .footer-copy,
.footer .link .un {
  font-weight: 600;
  color: #FFC426;
}
.footer .link {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
